body {
	background-color: lavender;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

/* Header */
#top_page_nav {
	height: 100px;
	background: url('images/demonkings_navheader.png') top center no-repeat;
}

#top_logo {
	height: 84px;
	display: block;
	background: url('images/demonkings_mainlogo.png') top center no-repeat;
}

#top_database {
	height: 100px;
    width: 48%;
    position: absolute;
    top: 0;
    z-index: -1;
    background: url('images/demonkings_db_top.png') top right no-repeat;
}

#top_archive {
	height: 100px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background: url('images/demonkings_archive_top.png') top left no-repeat;
}

#header_top_hive {
	height: 90px;
	margin: 4px;
	padding: 0;
	background: url('images/demonkings_top_hive.png') center center no-repeat;
}

/* Main Body */
#main_comic_center {
	height: 1537px;
    width: 1014px;
    margin: auto;
    position: relative;
    z-index: -1;
    background: url('images/demonkings_page_frame.png') top center no-repeat;
}

#blank_page {
	height: 1350px;
    width: 100%;
    position: absolute;
    top: 24px;
    left: 26px;
    margin: auto;
    padding: 0;
    z-index: -1;
    background: url('images/demonkings_blank_page.png') center center no-repeat;
}

#credit_bottom {
    height: 17px;
    width: 261px;
    position: absolute;
    bottom: 29px;
    right: 35px;
    background: url('images/demonkings_credit.png') bottom right no-repeat;
}

/* Chapter Navigation */
#chapter_num_top {
    height: 29px;
    width: 53px;
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: 1;
    background: url('images/demonkings_chapter_top_placeholder.png') no-repeat;
}

#chapter_nav_left {
	height: 526px;
    width: 53px;
    background: url('images/demonkings_chaptertabs_base.png') top right no-repeat;
}

#chapter_text {
    height: 39px;
    width: 28px;
    position: absolute;
    top: 407px;
    left: 11px;
    background: url('images/demonkings_ch.png') no-repeat;
}

/* Comic Navigation Buttons */
#comic_nav_bottom {
    height: 90px;
    width: 411px;
    position: absolute;
    bottom: 62px;
    right: 30px;
    background: url('images/demonkings_comicnav_base.png') bottom right no-repeat;
}

#first_button {
    display: inline-block;
    float: left;
    background: url('images/');
}

#prev_button {
    display: inline-block;
    float: left;
    background: url('images/');
}

#next_button {
    display: inline-block;
    float: left;
    background: url('images/');
}

#last_button {
    display: inline-block;
    float: left;
    background: url('images/');
}

/* Other Page Navigation */
#bottom_database {
    height: 167px;
    width: 963px;
    position: absolute;
    bottom: -94px;
    right: 0;
    background: url('images/demonkings_database_bottom.png') top right no-repeat;
}

#bottom_archive {
    height: 73px;
    width: 284px;
    position: absolute;
    bottom: 0;
    left: 191px;
    background: url('images/demonkings_archive_bottom.png') top right no-repeat;
}

/* Hiveworks Jump Bar Placeholder */
#hiveworks_jumpbar_placeholder {
    height: 43px;
    width: 544px;
    position: absolute;
    bottom: -70px;
    right: 33px;
    background: url('images/demonkings_jumpbar_placeholder.png') bottom right no-repeat;
}